%{Bash}%

for DIR in bin lib etc share; do
    if [[ -d $PKG_SOURCEDIR/$DIR ]]; then
        OPTS["process"]=1
        break
    fi
done

if ((${OPTS["process"]})); then
%{/Bash}%
%     if [[ -d $PKG_SOURCEDIR/bin ]]; then
usr/bin
%     fi
%     if [[ -d $PKG_SOURCEDIR/lib ]]; then
usr/lib/%{ $PKG_NAME }%
%     fi
%     if [[ -d $PKG_SOURCEDIR/etc ]]; then
etc
%     fi
%     if [[ -d $PKG_SOURCEDIR/share ]]; then
usr/share
%     fi
% fi
