Source: ##PKG_NAME##
Section: utils
Priority: optional
Maintainer: ##PKG_AUTHOR_NAME## <##PKG_AUTHOR_EMAIL##>
Build-Depends: debhelper (>= 7), build-essential
Standards-Version: 3.7.2

Package: ##PKG_NAME##
Architecture: ##PKG_ARCH##
Depends: %{ $(cp_join ", " "${PKG_DEPS[@]}") }%
Description: ##PKG_SHORTDESC##
% LDESC=$(echo "$PKG_LONGDESC" | sed -e "s/^$/./g")
%{ $(cp_indent " " "$LDESC") }%
 .
