%{Bash}%
OPTS["process"]=$((${PKG_HAS["BIN_LIBS"]}))
%{/Bash}%
% if ((${OPTS["process"]})); then
lib%{ ${PKG_NAME} }%: package-name-doesnt-match-sonames
lib%{ ${PKG_NAME} }%: hardening-no-fortify-functions
lib%{ ${PKG_NAME} }%: hardening-no-relro
lib%{ ${PKG_NAME} }%: new-package-should-close-itp-bug
lib%{ ${PKG_NAME} }%: embedded-library
lib%{ ${PKG_NAME} }%: extra-license-file
% fi
